<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login page</h1>
    <h2>give the information</h2>
    <h2>helooo</h2>
    <h3>heloooo</h3>
    <h4>helllooo</h4>
    <h2>helllooo</h2>
    <h2>heloooo</h2>
    <h1>hellooo</h1>
    <h5>hellooooo</h5>
    <h3>Helllooo</h3>
    <h1>heloooo</h1>
    <h2>helooooo</h2>
    <h2>helloooo</h2>
    <h4>hleeee</h4>
    <form action="/index" method="post">
        <input type="text"placeholder="username">
        <input type="text"placeholder="full name">
        <input type="text" placeholder="first name">
        <input type="text" placeholder="original name">
        <input type="text" placeholder="paasword">
        <input type="text" placeholder="email">
        <input type="submit">
    </form>
</body>
</html>