<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>helloooo</h2>
<nav>
    <h1>About</h1>
    <h1>Home</h1>
    <h1>Page</h1>
    <h1>content</h1>
    <h4>helloo kon</h4>
</nav>
<h2>helloooo</h2>
<h5>hohohoohooh</h5>
<h1>hey helooo</h1>
<h2>Heloooooooo</h2>
</body>
</html>